<div class="content">
<section class="navA">
<div class="cercle"  ng-class="{active : build=== 'agence'} " ng-click=" build = 'agence'"></div>
<div class="cercle" ng-class="{active : build=== 'menbres'}" ng-click=" build = 'menbres'"></div>
</section>
	
<div class="build animated" ng-show="build=== 'agence'" ng-class="{ pulse : build=== 'agence'} ">
<h1>Woop</h1>
<p >
WOOP est une agence de création multimédia créée en 
2014 lors d'une réunion regroupant les deux spécialités de 
la licence ATC de l'IUT de Bobigny.
À partir de cette convergence, l'agence n'a eu qu'un seul 
but être proche de ses clients et leur offrir des réponses 
innovantes et décalées.</p>
<hr/>
<h1>Pourquoi nous choisir ?</h1>
<p>
Pour répondre à vos aux exigences, les membres de l’équipe mettent à votre
disposition leurs compétences, leurs expertises et leurs savoirs faire.
Leur but est de faire la promotion de votre (entreprise), de vos activités ( et/ou de
vos produits), d’accroître votre visibilité sur le web, d’améliorer votre position sur le
marché dans votre secteur d’activité.
Donner de la valeur à votre activité, entreprise ou produits.
Nous nous engageons à construire un projet fiable,
nous vous proposons la conception de site web adpaté mobile.
Mais également l’élaboration du cahier des charges,
le référencement de votre produit
ainsi qu’une a ssistance et aide à la définition de votre projet multimédia.
 </p>
</div>
<div class="build animated" ng-show="build=== 'menbres'" ng-class="{ pulse : build=== 'menbres'} ">
<ul class="owl-carousel">
    <li class="item"><h4>1</h4></li>
    <li class="item"><h4>2</h4></li>
    <li class="item"><h4>3</h4></li>
    <li class="item"><h4>4</h4></li>
    <li class="item"><h4>5</h4></li>
    <li class="item"><h4>6</h4></li>
</ul>	
	<button class="button"></button>
	<button class="button"></button>
	<button class="button"></button>
	<button class="button"></button>
	<button class="button"></button>
	<button class="button"></button>
</div>
<script type="text/javascript">
$('.owl-carousel').owlCarousel({
    center: true,
	stageElement:'ul',
	itemElement:'li',
    items:1,
    loop:false,
    margin:10,
    responsive:{
        0:{
            items:1
        },
        600:{
            items:1
        },
        1000:{
            items:1
        }
    }
})	

$('.button:nth-child(2)').click(function(){
	$('.button').removeClass('active');
	$(this).toggleClass("active");
    $('.owl-carousel').trigger('to.owl.carousel', [0,300]);
  });
	$('.button:nth-child(3)').click(function(){
	$('.button').removeClass('active');
	$(this).toggleClass("active");
    $('.owl-carousel').trigger('to.owl.carousel', [1,300]);
  });
	$('.button:nth-child(4)').click(function(){
	$('.button').removeClass('active');
	$(this).toggleClass("active");
    $('.owl-carousel').trigger('to.owl.carousel', [2,300]);
  });
	$('.button:nth-child(5)').click(function(){
	$('.button').removeClass('active');
	$(this).toggleClass("active");
    $('.owl-carousel').trigger('to.owl.carousel', [3,300]);
  });
	$('.button:nth-child(6)').click(function(){
	$('.button').removeClass('active');
	$(this).toggleClass("active");
    $('.owl-carousel').trigger('to.owl.carousel', [4,300]);
  });
	$('.button:nth-child(7)').click(function(){
	$('.button').removeClass('active');
	$(this).toggleClass("active");
    $('.owl-carousel').trigger('to.owl.carousel', [5,300]);
  });
	
</script>