//import font 
@import url(http://fonts.googleapis.com/css?family=Poiret+One|Cabin+Condensed:600,700&subset=latin,latin-ext);
//import des composante 
@import "compass";
@import "bootstrap";
/*Variables*/
$jaune:rgba(250, 232, 38, 1); 
$violet:rgba(155, 89, 182, 1);  
$rouge:rgba(192, 47, 53, 1);

*
{ 
	@include box-sizing(border-box);
	margin: 0; 
	padding: 0;
}
body
{
	overflow: hidden;
}
/*
  @include opacity(0.9);
  @include make-xs-column(12);
  @include make-xs-column-offset(0);
  @include make-sm-column(12);
  @include make-sm-column-offset(0);
  @include make-lg-column(8);
  @include make-lg-column-offset(2);
  @include make-md-column(8);
  @include make-md-column-offset(2);
*/
//home css
.logo
{

	@include make-xs-column(1);
	@include make-md-column(1);
	@include make-lg-column(1);
	@include make-xs-column-offset(1);
	@include make-lg-column-offset(1);
	@include make-md-column-offset(1);
	height: 100px;
	background-image: url(../Img/woop_logo.png) ; 
	background-repeat: no-repeat;
	background-size: contain;
		&:hover
		{
			cursor: pointer;
		}
&::before
{	
	content: "";
	height: 10px;
	width: 125px;
	float: left;
	position: absolute;
	background-color: #000;
	margin-left: -150px;
	margin-top: 35px;
	z-index: 0;
}
	 &::after
{
	content: "";
	position: absolute;
	display: block;
	height: 10px;
	width: 1248px;
	margin-left: 120px;
	margin-top: 35px;
	background-color: #000;
	z-index: 0;
}
}

.content
{
	height: 580px;
	@include make-xs-column(12);
  @include make-xs-column-offset(0);
  @include make-sm-column(12);
  @include make-sm-column-offset(0);
  @include make-lg-column(12);
  @include make-lg-column-offset(0);
  @include make-md-column(12);
  @include make-md-column-offset(0);
	.fd 
	{
		height: 580px;
		@include make-xs-column(12);
		@include make-xs-column-offset(0);
		@include make-sm-column(12);
		@include make-sm-column-offset(0);
		@include make-lg-column(12);
		@include make-lg-column-offset(0);
		@include make-md-column(12);
		@include make-md-column-offset(0);
		background-image: url(../Img/workspace_09.png);
		background-size: contain;
		background-position: bottom;
		background-repeat: no-repeat;
	}
	.p
	{
		font-family: 'Poiret One', cursive;
		margin-left: 45%;
		margin-top: 15%;
		font-size: 4em; 
		color: #fff;
		text-decoration: underline;
		transition: 1s ease-out;
	}
	.p:last-child
	{
		margin-top: 1%;
		margin-left: 50%;
		font-size: 3em; 
	}
}
footer
{
position: fixed;
margin-bottom:   20px ;
@include make-xs-column(12);
  @include make-xs-column-offset(0);
  @include make-sm-column(12);
  @include make-sm-column-offset(0);
  @include make-lg-column(12);
  @include make-lg-column-offset(0);
  @include make-md-column(12);
  @include make-md-column-offset(0);
background-color: #000;
	height: 50px;
	ul li
	{
		list-style: none;
		@include make-xs-column(1);
		@include make-xs-column-offset(0);
		@include make-sm-column(1);
		@include make-sm-column-offset(0);
		@include make-lg-column(1);
		@include make-lg-column-offset(0);
		@include make-md-column(1);
		@include make-md-column-offset(0);
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		height: 60px;
		margin-top: -15px;
	}
	.home
		{
			background-image: url(../Img/door.png);
			@include make-md-column-offset(4);
			-webkit-transition: 1s ; 
			&:hover
			{
				height: 100px;
				margin-top: -40px;
				cursor: pointer;
			}
			&.active
			{
				height: 100px;
				margin-top: -40px;
			}
		}
	.agence
		{
			background-image: url(../Img/Icon_logo.png);
			-webkit-transition: 1s ; 
			&:hover
			{
				height: 100px;
				margin-top: -40px;
				cursor: pointer;
			}
			&.active
			{
				height: 100px;
				margin-top: -40px;
			}
		}
	.projet
		{
			background-image: url(../Img/brightness.png);
			-webkit-transition: 1s ; 
			&:hover
			{
				height: 100px;
				margin-top: -40px;
				cursor: pointer;
			}
			&.active
			{
				height: 100px;
				margin-top: -40px;
			}
		}
	.contact
		{
			background-image: url(../Img/mail_color.png);	
			-webkit-transition: 1s ; 
			&:hover
			{
				height: 100px;
				margin-top: -40px;
				cursor: pointer;
			}
			&.active
			{
				height: 100px;
				margin-top: -40px;
			}
		}
}
//!home css
.navA
{
	float: left;
	@include make-xs-column(2);
	@include make-xs-column-offset(0);
	@include make-sm-column(2);
	@include make-sm-column-offset(0);
	@include make-lg-column(2);
	@include make-lg-column-offset(0);
	@include make-md-column(2);
	@include make-md-column-offset(0);
	
}
.cercle
{
	border-radius: 50%;
	height: 100px ; 
	width: 100px ; 
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	background-size: contain;
	background-repeat: no-repeat;
	-webkit-transition:1s ;
	background-image: url(../Img/megaphone2.png);
	&:hover
	{
		cursor: pointer;
		background-image: url(../Img/megaphone2_color.png);
	}
	&:hover
	{
		cursor: pointer;
		background-image: url(../Img/megaphone2_color.png);
	}
	
	&.active
	{
		background-image: url(../Img/megaphone2_color.png);
	}
	
}
.cercle:last-of-type
	{
		background-image: url(../Img/polaroids.png);
		
		&:hover
		{
			background-image: url(../Img/polaroids_color.png);
		}
		&.active
		{
			background-image: url(../Img/polaroids_color.png);
		}
	}

div.build
{
	width: 800px;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	/*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
	-moz-box-shadow: 0px 0px 14px #000000;
	-webkit-box-shadow: 0px 0px 14px #000000;
	box-shadow: 0px 0px 14px #000000;
	h1
	{
		
		margin-left: auto;
		margin-right: auto;
		width: 20%;
		font-size: 2em;
		font-family: 'Poiret One', cursive;
		color:$rouge; 
		&:last-of-type
		{
			width: 40%;
		}
	}
	
	hr 
	{
		width: 50%;
		margin-left: auto;
		margin-right: auto;
	}
	p 
	{
		font-family: 'Cabin Condensed', sans-serif;
		font-size: 1.07em;
		color: #000;
		margin-left: 0px ;
		margin-top: 0px;
		text-align: justify;
		@include make-xs-column(6);
		@include make-xs-column-offset(3);
		@include make-sm-column(6);
		@include make-sm-column-offset(3);	
		@include make-lg-column(6);
		@include make-lg-column-offset(3);	
		@include make-md-column(6);
		@include make-md-column-offset(3);

	}
	li 
	{
		list-style: none;
		display: inline-block;
		&:hover
		{
			cursor: grab;
		}
	}
	.owl-item 
	{
		background-color: $rouge;
		height: 400px;
	}
	.button 
	{
		height: 50px ; 
		width: 50px ; 
		border-radius: 50%;
		border: none;
		margin-left: 10px;
		background-size: contain;
		background-repeat: no-repeat;
		-webkit-transition:1s ;
		
		&:first-of-type
		{
			background-image: url(../Img/profle.png);
			margin-left: 210px;
			&:hover
			{
				background-image: url(../Img/profle_color.png);
			}
		}
		&:nth-child(3)
		{
		background-image: url(../Img/brush-pencil.png);
			&:hover
			{
				background-image: url(../Img/brush-pencil_color.png);
			}
			&.active
			{
				background-image: url(../Img/brush-pencil_color.png);
			}
		}
		&:nth-child(4)
		{
		background-image: url(../Img/brush-pencil.png);
			&:hover
			{
				background-image: url(../Img/brush-pencil_color.png);
			}
			&.active
			{
				background-image: url(../Img/brush-pencil_color.png);
			}
		}
		&:nth-child(5)
		{
		background-image: url(../Img/dev.png);
			&:hover
			{
				background-image: url(../Img/dev_color.png);
			}
			&.active
			{
				background-image: url(../Img/dev_color.png);
			}
		}
		&:nth-child(6)
		{
		background-image: url(../Img/dev.png);
			&:hover
			{
				background-image: url(../Img/dev_color.png);
			}
			&.active
			{
				background-image: url(../Img/dev_color.png);
			}
		}
		&:last-of-type
		{
		background-image: url(../Img/dev.png);
			&:hover
			{
				background-image: url(../Img/dev_color.png);
			}
			&.active
			{
				background-image: url(../Img/dev_color.png);
			}
		}
	}
}
.form
{
		@include make-xs-column(6);
		@include make-xs-column-offset(3);
		@include make-sm-column(6);
		@include make-sm-column-offset(3);	
		@include make-lg-column(6);
		@include make-lg-column-offset(3);	
		@include make-md-column(6);
		@include make-md-column-offset(3);
		border-color: $violet;
		border-width: 2px;
		border-radius: 50%;
	height: 600px;
		overflow: hidden;
		legend 
		{
		font-size: 3em;
		font-family: 'Poiret One', cursive;
		background-color: $violet; 
		color:#fff;
			text-align: center;
		}

		input,textarea
		{
		@include make-xs-column(8);
		@include make-xs-column-offset(2);
		@include make-sm-column(8);
		@include make-sm-column-offset(2);	
		@include make-lg-column(8);
		@include make-lg-column-offset(2);	
		@include make-md-column(8);
		@include make-md-column-offset(2);
		@include make-row();
		height: 30px;
		font-family: 'Cabin Condensed', sans-serif;
		font-size: 1.07em;
		color:  $violet;
		line-height: inherit;
		margin-top: 18px;
		border-color: $violet;
		border-top-color:$violet;
		border-width: 3px;

			&:focus
			{
				background-color: $violet;
				color: #fff;
				border: none;
				background-image: none;
				box-shadow: none;
			}
		}
		textarea
		{
			height: 100px;
			resize: none;
			overflow-x:auto;
		}
	.button 
	{
		@include make-row();
		height: 60px;
		width: 60px;
		border-radius: 50%;
		border: none;
		background-size: contain;
		background-repeat: no-repeat;
		-webkit-transition: 1s;
		margin: 50px 0px 0px 310px;
		background-image: url(../Img/mail.png);
			&:hover
			{
				background-image: url(../Img/mail_color.png);
			}
		
	}
}
 